.layout {
  // border: 1px solid green;
  display: grid;
  grid-template-columns: auto 3fr 1.3fr;
  grid-gap: var(--gap-between);

  @media (max-width: 1000px) {
    grid-template-columns: 3fr 1.3fr;
  }
}

.sidebar {
  // top: 8.4rem;
  // align-self: flex-start;
}

.content {
  // border: 1px solid pink;
}

.news {
  // border: 1px solid yellow;
}
