.li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  justify-content: flex-start !important;

  &:hover {
    background-color: var(--color-secondary-light);
  }

  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.modifyLink {
  justify-content: flex-start;
}
