.container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  .sidebarWrapper {
    padding: 0 0.5rem;
  }
}

.ul {
  display: flex;
  flex-direction: column;

  .li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-m);
    cursor: pointer;

    &:hover {
      background-color: var(--color-secondary-light);
      color: var(--color-secondary);
      text-decoration: underline;
    }

    .icon {
      width: 3rem;
      height: 3rem;
    }
  }

  .modifyLink {
    justify-content: flex-start;
  }
}
