.container {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60vw;
  width: 100%;
  min-width: 40rem;
  z-index: 6000;
  padding: 2.5rem 5rem;
  border-radius: 12px;

  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  box-shadow: var(--shadow-default);

  display: flex;
  flex-direction: column;

  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  @media (max-width: 1000px) {
    font-size: var(--font-text-xs-plus);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    bottom: -10vh;
  }

  35% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    bottom: 5vh;
  }
}
