.header {
  height: 6.4rem;
  padding: 1.1rem 0rem;
  display: flex;
  justify-content: center;
  box-shadow: var(--light-shadow-color);
  position: sticky;
  top: 0;
  background-color: rgba(var(--color-primary), 0);
  backdrop-filter: blur(20px);
  z-index: 500;

  &__left {
    display: flex;
    gap: var(--gap-sm);
    max-width: 70rem;
    width: 100%;
    display: flex;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  &__nav {
    display: flex;
    gap: var(--gap-sm);
  }
}
